$light-gray: #f5f5f5;
$white-gray: #f4f7f8;
$light-blue: #4fcad5;

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.font-weight-bold {
    font-weight: 500;
}

.justify-content-end {
    justify-content: flex-end;
}

.position-relative {
    position: relative;
}

.page-title {
    display: flex;
    justify-content: center;

    h1 {
        font-weight: bold;
    }
}

.loading-spinner {
    display: flex;
    justify-content: center;

    .mat-mdc-progress-spinner {
        width: 4em !important;
    }
}


form,
#userDetais {
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;

    .mat-mdc-form-field {
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 350px;
    }

    .buttons-area {
        margin-bottom: 2em;
        margin-top: 2em;

        .mdc-button {
            height: 38px;

            &:first-child {
                margin-right: 1em;
            }
        }
    }
}

#userDetais,
form {
    background: $white-gray;
}