<form [formGroup]="userForm">
    <h2>Edit Item</h2>
    <div>
        <mat-form-field>
            <mat-label>You are:</mat-label>
            <mat-select matNativeControl required formControlName="title">
                <mat-option *ngFor="let title of userService.titleOptions" [value]="title">
                    {{ title | titlecase }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.get('title')?.hasError('required') && userForm.get('title')?.touched">
                This field is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput id="firstName" type="text" formControlName="firstName" required minlength="3">
            <mat-error *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
                Name must have at least 3 characters.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput id="lastName" type="text" formControlName="lastName" required minlength="2">
            <mat-error *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
                Name must have at least 3 characters.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gender:</mat-label>
            <mat-select matNativeControl required formControlName="gender">
                <mat-option *ngFor="let gender of userService.genderOptions" [value]="gender">
                    {{ gender | titlecase }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.get('gender')?.hasError('required') && userForm.get('gender')?.touched">
                This field is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput id="email" formControlName="email" [disabled]="true" [value]="user.email">
            <mat-label>Email</mat-label>
        </mat-form-field>
        <mat-form-field>
            <input matInput id="phone" type="text" maxlength="15" formControlName="phone" [value]="user.phone | phoneNumber" mask="(00) 0000-0000?0">
            <mat-label>Phone Number</mat-label>
            <mat-error *ngIf="userForm.get('phone')?.hasError('required')">
                Phone must be a valid phone number.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select your birthdate</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" name="dateOfBirth" [value]="user.dateOfBirth">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="buttons-area">
        <button mat-raised-button color="accent" title="Back to List" mat-button [routerLink]="['/list']"><mat-icon
                aria-hidden="false" aria-label="Back to List" fontIcon="backspace"></mat-icon>Back to List
        </button>
    </div>
</form>